[Unit]
Description=Check in to DuckDNS for lam1ak.duckdns.org

[Service]
Type=simple
ExecStart=/var/www/lam/systemd/duckdns-check-in lam1ak
Restart=no
User=lam
Group=staff