[Unit]
Description=Sync the clone git repos from the main server
RequiresMountsFor=/mnt/efs
 
[Service]
Type=simple
ExecStart=/var/www/aws/systemd/git-sync-clone
Restart=no
