[Unit]
Description=Refresh the clone lam and wikidb databases from the aws s3 backup
 
[Service]
Type=simple
ExecStart=/var/www/aws/systemd/lam-wikidb-refresh-clone
Restart=no
User=lam
Group=staff
